@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.react-container {
  margin: 40px auto;
  width: 1000px;
}

.main {
  margin: 40px auto;
  width: 1000px;
  text-align: center;
}

.operator {
  margin: 20px;
  cursor: pointer;
}

.logo {
  text-align: center;
  width:100px;
}

.header {
  text-align: center;
}